<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="runtime" sequenceNumber="41">
<locations>
<location path="/Users/yayang/osgi/target_platform/common" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.netty" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/javax" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/log" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/eclipse" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.http" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/google" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.common" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/eclipse.jetty_9.3.21" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.odata" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.felix" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.tomcat" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/eclipse.equinox" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/com.fasterxml.jackson" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache.aries" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/eclipse.osgi" type="Directory"/>
</locations>
</target>
