<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="runtime" sequenceNumber="14">
<locations>
<location path="/Users/yayang/osgi/target_platform/jetty_9.3.21" type="Directory"/>
<location path="/Users/jessylxj/osgi/target_platform" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/log" type="Directory"/>
<location path="/Users/yayang/osgi/target_platform/apache-http" type="Directory"/>
</locations>
</target>
