<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="node">
<stringAttribute key="working_directory" value="/Users/yayang/origin/ta1/nodespaces/node_102"/>
<stringAttribute key="configuration_location" value="/Users/yayang/origin/ta1/nodespaces/node_102/configuration"/>
<mapAttribute key="osgi_config_properties_map">
<mapEntry key="eclipse.ignoreApp" value="true"/>
<mapEntry key="org.eclipse.equinox.simpleconfigurator.configUrl" value="file:/Users/yayang/origin/ta1/configuration/org.eclipse.equinox.simpleconfigurator/bundles.info"/>
<mapEntry key="osgi.bundles" value="reference:file:eclipse.equinox/org.eclipse.equinox.simpleconfigurator_1.1.0.v20131217-1203.jar@1:start"/>
<mapEntry key="osgi.bundles.defaultStartLevel" value="4"/>
<mapEntry key="osgi.noShutdown" value="true"/>
</mapAttribute>
<mapAttribute key="osgi_config_vm_arguments_map">
<mapEntry key="com.sun.management.jmxremote.authenticate" value="false"/>
<mapEntry key="com.sun.management.jmxremote.port" value="9999"/>
<mapEntry key="com.sun.management.jmxremote.ssl" value="false"/>
<mapEntry key="org.osgi.service.http.port" value="12001"/>
<mapEntry key="platform.home" value="/Users/yayang/origin/ta1"/>
</mapAttribute>
<listAttribute key="program_arguments_list">
<listEntry value="-consoleLog"/>
<listEntry value="-console"/>
</listAttribute>
<mapAttribute key="system_arguments_map">
<mapEntry key="-jar" value="/Users/yayang/origin/ta1/plugins/org.eclipse.osgi_3.10.100.v20150529-1857.jar"/>
<mapEntry key="-configuration" value="file:/Users/yayang/origin/ta1/nodespaces/node_102/configuration"/>
</mapAttribute>
<mapAttribute key="vm_arguments_map"/>
</launchConfiguration>
